//////////////////////////////////////////////////////
# define DefineResource(identifier,type,path) identifier type #path
# define Resource(path) DefineResource(path, FILE, path)

//////////////////////////////////////////////////////
//
// Siv3D Engine Resources (DO NOT REMOVE)
//
//////////////////////////////////////////////////////
DefineResource(100, ICON, icon.ico)
Resource(engine/shader/sprite.vs)
Resource(engine/shader/shape.ps)
Resource(engine/shader/texture.ps)
Resource(engine/shader/square_dot.ps)
Resource(engine/shader/round_dot.ps)
Resource(engine/shader/sdf.ps)
Resource(engine/shader/fullscreen_triangle_resolve.vs)
Resource(engine/shader/fullscreen_triangle_draw.vs)
Resource(engine/shader/fullscreen_triangle_resolve.ps)
Resource(engine/shader/fullscreen_triangle_draw.ps)
Resource(engine/shader/copy.ps)
Resource(engine/shader/gaussian_blur_9.ps)
Resource(engine/texture/box-shadow/256.png)
Resource(engine/texture/box-shadow/128.png)
Resource(engine/texture/box-shadow/64.png)
Resource(engine/texture/box-shadow/32.png)
Resource(engine/texture/box-shadow/16.png)
Resource(engine/texture/box-shadow/8.png)
Resource(engine/font/mplus/mplus-1p-medium.ttf.zstdcmp)
Resource(engine/emoji/noto7_dictionary.dat)

//////////////////////////////////////////////////////
//
// Siv3D Engine Optional Resources (Can be removed if not required)
//
//////////////////////////////////////////////////////
Resource(engine/font/mplus/mplus-1p-thin.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-light.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-regular.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-bold.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-heavy.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-black.ttf.zstdcmp)
Resource(engine/font/noto/NotoColorEmoji.ttf.zstdcmp)
Resource(engine/font/noto/NotoEmoji-Regular.ttf.zstdcmp)
Resource(engine/font/fontawesome/fontawesome-brands.otf.zstdcmp)
Resource(engine/font/fontawesome/fontawesome-solid.otf.zstdcmp)
Resource(engine/objdetect/haarcascade/eye.xml.zstdcmp)
Resource(engine/objdetect/haarcascade/eye_eyeglasses.xml.zstdcmp)
Resource(engine/objdetect/haarcascade/face_anime.xml.zstdcmp)
Resource(engine/objdetect/haarcascade/frontal_catface.xml.zstdcmp)
Resource(engine/objdetect/haarcascade/frontal_face_alt2.xml.zstdcmp)
Resource(engine/soundfont/GMGSx.sf2.zstdcmp)

//////////////////////////////////////////////////////
//
// Siv3D App Resources (Your application resources here)
//
//////////////////////////////////////////////////////

#if ABYSS_DEBUG
Resource(resources/fonts/PixelMplus12-Bold.ttf)
Resource(resources/fonts/PixelMplus12-Regular.ttf)
#else
Resource(resources/events/stage0/boss.json)
Resource(resources/fonts/PixelMplus12-Bold.ttf)
Resource(resources/fonts/PixelMplus12-Regular.ttf)
Resource(resources/images/actors/Common/common_effects.json)
Resource(resources/images/actors/Common/common_effects.png)
Resource(resources/images/actors/Common/enemy_shot.json)
Resource(resources/images/actors/Common/enemy_shot.png)
Resource(resources/images/actors/Enemy/CaptainTako/captain_tako.png)
Resource(resources/images/actors/Enemy/CaptainTako/tako_shot.png)
Resource(resources/images/actors/Enemy/CodeZero/code_zero.json)
Resource(resources/images/actors/Enemy/CodeZero/code_zero.png)
Resource(resources/images/actors/Enemy/CodeZero/face.json)
Resource(resources/images/actors/Enemy/CodeZero/face.png)
Resource(resources/images/actors/Enemy/DrQuery/face.json)
Resource(resources/images/actors/Enemy/DrQuery/face.png)
Resource(resources/images/actors/Enemy/Ikalien/ikalien.png)
Resource(resources/images/actors/Enemy/LaunShark/laun_shark.json)
Resource(resources/images/actors/Enemy/LaunShark/laun_shark.png)
Resource(resources/images/actors/Enemy/RollingTako/rolling_tako.png)
Resource(resources/images/actors/Enemy/Schield/schield.json)
Resource(resources/images/actors/Enemy/Schield/schield.png)
Resource(resources/images/actors/Enemy/Slime/slime.png)
Resource(resources/images/actors/Gimmick/Door/door.json)
Resource(resources/images/actors/Gimmick/Door/door.png)
Resource(resources/images/actors/Ooparts/Nyan/nyan.png)
Resource(resources/images/actors/Ooparts/Xto/xto.png)
Resource(resources/images/actors/Player/face.json)
Resource(resources/images/actors/Player/face.png)
Resource(resources/images/actors/Player/player.json)
Resource(resources/images/actors/Player/player.png)
Resource(resources/images/actors/Player/player_shot.png)
Resource(resources/images/bgs/sky.png)
Resource(resources/images/bgs/stage0-1.png)
Resource(resources/images/bgs/stage0-2.png)
Resource(resources/images/bgs/stage0-3.png)
Resource(resources/images/bgs/stage0-4.png)
Resource(resources/images/bgs/surface.png)
Resource(resources/images/mapchip/decors/stage0/stage0_back1.png)
Resource(resources/images/mapchip/decors/stage0/stage0_back2.png)
Resource(resources/images/mapchip/decors/stage0/stage0_back3.png)
Resource(resources/images/mapchip/decors/stage0/stage0_back4.png)
Resource(resources/images/mapchip/decors/stage0/stage0_back5.png)
Resource(resources/images/mapchip/decors/stage0/stage0_front1.png)
Resource(resources/images/mapchip/decors/stage0/stage0_front2.png)
Resource(resources/images/mapchip/decors/stage0/stage0_front3.png)
Resource(resources/images/mapchip/enemys/captain_tako.png)
Resource(resources/images/mapchip/enemys/code_zero.png)
Resource(resources/images/mapchip/enemys/ikalien.png)
Resource(resources/images/mapchip/enemys/laun_shark.png)
Resource(resources/images/mapchip/enemys/rolling_tako.png)
Resource(resources/images/mapchip/enemys/schield.png)
Resource(resources/images/mapchip/enemys/slime.png)
Resource(resources/images/mapchip/gimmicks/bgm_changer.png)
Resource(resources/images/mapchip/gimmicks/door.png)
Resource(resources/images/mapchip/gimmicks/door_boss.png)
Resource(resources/images/mapchip/gimmicks/event_trigger.png)
Resource(resources/images/mapchip/gimmicks/start.png)
Resource(resources/images/mapchip/stage0_mapchip.png)
Resource(resources/images/ui/common/boss_hp_bar/boss_hp_bar.json)
Resource(resources/images/ui/common/boss_hp_bar/boss_hp_bar.png)
Resource(resources/images/ui/common/cursor.png)
Resource(resources/images/ui/common/dying_effect/dying_effect.png)
Resource(resources/images/ui/common/message_box.png)
Resource(resources/maps/stage0.tmx)
Resource(resources/params/Actors/CaptainTako/param.toml)
Resource(resources/params/Actors/CaptainTako/shot_param.toml)
Resource(resources/params/Actors/CodeZero/hand_param.toml)
Resource(resources/params/Actors/CodeZero/param.toml)
Resource(resources/params/Actors/CodeZero/shot_param.toml)
Resource(resources/params/Actors/Ikalien/param.toml)
Resource(resources/params/Actors/LaunShark/param.toml)
Resource(resources/params/Actors/LaunShark/shot_param.toml)
Resource(resources/params/Actors/Player/param.toml)
Resource(resources/params/Actors/Player/shot_param.toml)
Resource(resources/params/Actors/RollingTako/param.toml)
Resource(resources/params/Actors/Schield/param.toml)
Resource(resources/params/Actors/Schield/shot_param.toml)
Resource(resources/params/Actors/Slime/param.toml)
Resource(resources/preloads/stage0.toml)
Resource(resources/shaders/bitmap_font.hlsl)
Resource(resources/shaders/gameboy.hlsl)
Resource(resources/shaders/mask.hlsl)
Resource(resources/shaders/not_equal_mask.hlsl)
Resource(resources/shaders/sky.hlsl)
Resource(resources/shaders/wave.hlsl)
Resource(resources/sounds/bgm/stage/common/boss_mae.aas)
Resource(resources/sounds/bgm/stage/common/boss_mae.ogg)
Resource(resources/sounds/bgm/stage/stage0/stage0.aas)
Resource(resources/sounds/bgm/stage/stage0/stage0.ogg)
Resource(resources/sounds/bgm/stage/stage0/stage0_boss.aas)
Resource(resources/sounds/bgm/stage/stage0/stage0_boss.ogg)
Resource(resources/sounds/se/Actors/Enemy/CaptainTako/captain_tako.aase)
Resource(resources/sounds/se/Actors/Enemy/CaptainTako/charge.ogg)
Resource(resources/sounds/se/Actors/Enemy/CaptainTako/shot.ogg)
Resource(resources/sounds/se/Actors/Enemy/damage.wav)
Resource(resources/sounds/se/Actors/Enemy/enemy.aase)
Resource(resources/sounds/se/Actors/Enemy/Ikalien/ikalien.aase)
Resource(resources/sounds/se/Actors/Enemy/LaunShark/laun_shark.aase)
Resource(resources/sounds/se/Actors/Enemy/LaunShark/shot.aase)
Resource(resources/sounds/se/Actors/Enemy/RollingTako/rolling_tako.aase)
Resource(resources/sounds/se/Actors/Enemy/Schield/schield.aase)
Resource(resources/sounds/se/Actors/Enemy/Slime/jump.ogg)
Resource(resources/sounds/se/Actors/Enemy/Slime/slime.aase)
Resource(resources/sounds/se/Actors/Player/1up.wav)
Resource(resources/sounds/se/Actors/Player/damage.ogg)
Resource(resources/sounds/se/Actors/Player/deth.wav)
Resource(resources/sounds/se/Actors/Player/door_move.aas)
Resource(resources/sounds/se/Actors/Player/move_to_floor.wav)
Resource(resources/sounds/se/Actors/Player/player.aase)
Resource(resources/sounds/se/Actors/Player/recover.wav)
Resource(resources/sounds/se/Actors/Player/Shot/player_shot.aase)
Resource(resources/sounds/se/Actors/Player/Shot/shot.ogg)
Resource(resources/sounds/se/Actors/Player/Shot/shot2.ogg)
Resource(resources/sounds/se/Actors/Player/Shot/shot3.ogg)
Resource(resources/sounds/se/Actors/Player/swim.ogg)
Resource(resources/sounds/se/commons/cancel.wav)
Resource(resources/sounds/se/commons/charge_boss_hp.ogg)
Resource(resources/sounds/se/commons/decide.wav)
Resource(resources/sounds/se/commons/select.wav)


#endif
/* 
	//
	// Define your resource path inside `Resource()` macro.
	// No double quotation marks and white spaces may appear.
	//
	Resource(example/siv3d-kun.png)		// ok
	Resource(example/windmill.png)		// ok
	Resource(assets/a b c.txt)			// error: contains white spaces
	Resource("example/windmill.png")	// error: contains double quotation marks

	//
	// If your file contains a white space, define the identifier without using Resource() macro.
	//
	MYIDENTIFIER_1 FILE "assets/a b c.txt"
	MYIDENTIFIER_2 FILE "level 1/map.dat"
*/
