name: cpplint

on: [push]

jobs:
  lint:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
    - name: install cpplint
      run: pip install cpplint
    - name: cpplint
      run: .github/workflows/do_cpplint.sh
